name: Deploy to Production

on:
  push:
    branches: [ "main", "develop" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /var/www/listow
            git fetch origin
            git reset --hard origin/${{ github.ref_name }}
            chmod +x deploy.sh
            ./deploy.sh ${{ github.ref_name }}
